<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <div class="single-footer">
                    <h4>À propos de nous </h4>
                    <div class="footer-title-line"></div>

                    <img id="img" src="assets\images\stn.gif" style="height: 20px;">
                    <p>Lorem ipsum dolor cum necessitatibus su quisquam molestias. Vel unde, blanditiis.</p>
                    <ul class="footer-adress">
                        <li><i class="pe-7s-map-marker strong"> </i> Parcelles Assainies</li>
                        <li><i class="pe-7s-mail strong"> </i> soultamiraimmo@gmail.com</li>
                        <li><i class="pe-7s-call strong"> </i> + 221 33 800 00 00</li>
                    </ul>
                </div>
            </div>
            <div class="col s4">
                <div class="single-footer">
                    <h4>Liens rapides </h4>
                    <div class="footer"></div>
                    <ul class="footer-menu">
                        <li>Propriétés </li>
                        <li>Services</li>
                        <li>Soumettre une Propriété </li>
                        <li>Nous contacter</li>
                        <li>FQA </li>
                        <li>Termes de confidencialité </li>
                    </ul>
                </div>
            </div>

            <div class="col s4">
                <div class="single-footer news-letter">
                    <h4>Rester en contact</h4>
                    <div class="footer-title-line"></div>
                    <p>Lorem ipsum dolor sit amet, nulla suscipit similique quisquam molestias. Vel unde, blanditiis.</p>

                    <!-- <form>
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="E-mail ... ">
                            <span class="input-group-btn">
                                        <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                    </span>
                        </div>
                        <!-- /input-group -->
                    <!--</form>-


                    <div class="social pull-right">
                        <ul>
                            <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>-->
                </div>
            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">


            <span> (C) Shayna Janet, Developpeuse Web Junior, All rights reserved 2016  </span>
        </div>


    </div>
</footer>